<li [ngClass]="{'list-group-item': true,
'like-post': likeStatus > 0,
'dislike': likeStatus < 0}">
  <div class="header-post-list">
    <h4 [ngStyle]="{color: getColor()}">{{ postTitle }}</h4>
    <p>Mis à jour : {{ lastUpdate | date: "short" }}</p>
  </div>
  <p [ngStyle]="{color: getColor()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit nunc quam, vel sagittis lorem luctus a. Donec ut efficitur est, in ornare diam. Quisque vitae ligula a quam rutrum laoreet.</p>
  <button class="btn btn-success mr-1" (click)="onLike()">Like it!</button>
  <button class="btn btn-danger" (click)="onDislike()">Dislike it!</button>
</li>
