<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-blog-post></app-blog-post>
        <app-blog-post></app-blog-post>
        <app-blog-post></app-blog-post>
      </ul>
    </div>
  </div>
</div>
