/* You can add global styles to this file, and also import other style files */
.mr-1 {
  margin-right: 1%;
}

.header-post-list {
  display: flex;
  justify-content: space-between;
}

.like-post {
  background-color: rgb(169, 221, 169);
}

.dislike {
  background-color: rgb(223, 156, 156);
}
